<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>URLAlias</title>
</head>
<body>

    <h3 th:if="${hasMessage}" th:text="${message}" th:style="${stored ? 'color: red;' : 'color: black;'}" ></h3>
    <form th:action="@{save-link}" method="post" th:object="${urlAlias}">
        <label for="url">URL</label>
        <input id="url" type="text" th:field="*{url}">
        <label for="alias">Alias</label>
        <input id="alias" type="text" th:field="*{alias}" >

        <button th:type="submit">Submit</button>
    </form>

</body>
</html>